<p style="color: green"><%= notice %></p>
<div class="d-flex justify-content-between align-items-center">
  <h1>Appointments</h1>
  <%= link_to "New appointment", new_appointment_path, class: "btn btn-primary" %>
</div>
<div id="appointments">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Patient</th>
        <th scope="col">Physician</th>
        <th scope="col">Details</th>
        <th scope="col">Edit</th>
        <th scope="col">Destroy</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <tr>
          <%= render appointment %>
          <td><%= link_to "Details", appointment, class: "btn btn-success" %></td>
          <td><%= link_to "Edit", edit_appointment_path(appointment), class: "btn btn-warning" %></td>
          <td><%= button_to "Destroy", appointment, method: :delete, data: {confirm: "You sure?"}, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
